.thumb {
  float: right;
  margin: 0 0 15px 15px;
}
.title {
  background: #00b5d5;
  color: #ffffff;
  padding: 5px 10px;
}
.title a {
  display: block;
  height: 100%;
  color: #ffffff;
  width: 100%;
}
.title h1,
.title h2,
.title h3 {
  margin: 0;
}
.date {
  background: #66cfe3;
  color: #ffffff;
  font-weight: bold;
  margin: 0 0 15px 0;
  padding: 5px 10px;
}
.date a {
  color: #ffffff;
}

.read-more {
  background: #e41f8f;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-weight: bold;
  margin: 15px;
  padding: 5px 15px;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
}

.read-more:hover {
  color: #ffffff;
  background: #cf0d7b;
}
