.logos img {
  vertical-align: middle;
}
.user-logo {
  display: inline-block;
}

.home-1 {
  background: url(./images/home-1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding: 140px 15px;
}
.home-title {
  border-bottom: 3px solid #00d9ff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  margin: 0 auto 30px auto;
  width: 742px;
}
.home-desc {
  font-size: 18px;
  margin: 0 auto;
}
.home-subtitle {
  border-top: 3px solid #00d9ff;
  font-size: 24px;
  font-weight: normal;
  padding-top: 20px;
  margin: 30px auto 40px auto;
  width: 742px;
}
.home-second {
  background: url(./images/home-2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding: 130px 15px;
}
.home-3 {
  background: url(./images/home-3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
  padding: 130px 15px;
}
.home-mobile {
  position: absolute;
  bottom: 0;
  right: -80px;
}

.wp-video {
  margin: 0 auto 15px auto;
}

.callout {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .user-logo {
    padding: 10px 0;
    text-align: center;
    width: 46%;
  }

  .home-title {
    font-size: 28px;
    width: 100%;
  }
  .home-subtitle {
    font-size: 18px;
    width: 100%;
  }
  .home-1 {
    padding: 60px 15px;
  }
  .home-mobile {
    display: none;
  }
}
