.logo {
  float: left;
  margin: 15px 0;
  max-width: 140px;
}

.header {
  background: #ffffff;
  border-bottom: 5px solid #00b5d5;
  margin-bottom: 10px;
  min-height: 78px;
}

.nav {
  float: right;
  margin-top: 30px;
}
.nav > ul {
  list-style-type: none;
}
.nav > ul > li {
  font-size: 14px;
  float: left;
  padding: 0 10px;
}
.nav > ul > li > a {
  color: #9f9f9f;
  font-weight: bold;
  text-transform: uppercase;
}
.nav > ul > li > a.active,
.nav > ul > li > a:hover {
  color: #686868;
}
.nav-toggle {
  display: none;
}
.nav-login {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  text-transform: uppercase;
}
.nav-login-wrapper {
  margin-top: 21px;
}

@media only screen and (max-width: 768px) {
  .logo {
    padding: 10px 15px;
  }

  .nav {
    background: #ffffff;
    border-bottom: 3px solid #e1e1e1;
    border-top: 3px solid #e1e1e1;
    display: none;
    padding: 15px 15px;
    position: absolute;
    text-align: center;
    top: 55px;
    width: 100%;
    z-index: 1000;
  }
  .nav.active {
    display: block;
  }
  .nav > ul {
    padding: 0;
  }
  .nav > ul > li {
    float: none;
    padding: 0;
  }
  .nav > ul > li > a {
    display: block;
    padding: 10px 0;
  }
  .nav > ul > li.nav-divide > a {
    border-top: 1px solid #e1e1e1;
    margin-top: 15px;
    padding-top: 30px;
  }
  .nav-toggle {
    background: #14bbd8;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 42px;
    line-height: 60px;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 15px;
    width: 50px;
  }
  .nav-toggle:hover,
  .nav-toggle:active {
    background: #00a8c5;
  }
  .nav-toggle,
  .nav-toggle:hover,
  .nav-toggle.active,
  .nav-toggle-inner,
  .nav-toggle-inner::before,
  .nav-toggle-inner::after,
  .nav,
  .nav.active {
    -webkit-transition: 250ms all;
    transition: 250ms all;
  }
  .nav-toggle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .nav-toggle-inner {
    background: #fff;
    height: 0.5rem;
    margin-left: 0.75rem;
    margin-top: 1.75rem;
    width: 2.5rem;
  }
  .nav-toggle-inner::before,
  .nav-toggle-inner::after {
    background: white;
    content: '';
    display: block;
    height: 0.5rem;
    width: 2.5rem;
  }
  .nav-toggle-inner::before {
    -webkit-transform: translateY(-0.75rem);
    -ms-transform: translateY(-0.75rem);
    transform: translateY(-0.75rem);
  }
  .nav-toggle-inner::after {
    -webkit-transform: translateY(0.25rem);
    -ms-transform: translateY(0.25rem);
    transform: translateY(0.25rem);
  }
  .nav-toggle-inner.active {
    background: transparent;
  }
  .nav-toggle-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
  }
  .nav-toggle-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem)
      rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  }
}
